<!DOCTYPE html>
<html lang="{{ app_cfg.language }}">
<head>
    <meta charset="{{ app_cfg.charset }}">
    <title>{% block title %}{% endblock %} - {{ manifest.title }}</title>
    {% block metas %}{% endblock %}
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assets }}styles.css" rel="stylesheet">
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ vendor_assets }}famfamfam_silk_icons_v013/silk_icons_sprite.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ vendor_assets }}html5shiv/html5shiv.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>

<div id="wrapper">
    {% block body %}{% endblock %}
</div>
{% include DB.getTemplate('footer') %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ vendor_assets }}jquery/jquery.min.js"><\/script>')</script>
<script>$.uiBackCompat = false;</script>
<script src="{{ vendor_assets }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ assets }}scripts.js"></script>
{% block scripts %}
<script>
$(function() {
    addCSSValidatorLink('{{ assets }}styles.css');
    addHTMLValidatorLink();
});
</script>
{% endblock %}
</body>
</html>
