<!DOCTYPE html>
<html lang="{{ app_cfg.language }}">
<head>
    <meta charset="{{ app_cfg.charset }}">
    <title>{{ title }} - {{ manifest.title }}</title>
    {% block metas %}{% endblock %}
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assets }}styles.css" rel="stylesheet">
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ vendor_assets }}famfamfam_silk_icons_v013/silk_icons_sprite.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ vendor_assets }}html5shiv/html5shiv.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_attributes %}data-spy="scroll" data-target="#inpage_menu"{% endblock %}>

<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
{% include DB.getTemplate('navbar') %}
        </div>
    </div>

    <div class="container-fluid">
{% include 'ltie7_warning.html.twig' %}
{% include DB.getTemplate('breadcrumbs') %}
        <h1>Index of <em>{{ title }}</em> <small>Folder map</small></h1>
        <hr />
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
            <section id="indextable">
