{% extends DB.getTemplate('layout') %}

{% block html_header %}{% endblock %}

{% block body %}

            </section>
            </div>
            <div class="span1"></div>
        </div>

{% if content is not empty %}
        <hr />
        <div class="row-fluid">
            <section>
            {{ content|raw }}
            </section>
            <footer id="lastupdate" role="contentinfo">
{% include DB.getTemplate('page_tools') %}
            </footer>
        </div>
{% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
<script src="{{ vendor_assets }}jquery.highlight.js"></script>
<script src="{{ vendor_assets }}jquery.juizScrollTo.js"></script>
<script src="{{ vendor_assets }}jquery.tablesorter/jquery.tablesorter.min.js"></script>
<script>
$(function() {
    initHighlighted('pre.code');
    initTables();
    initTablesorter('table.tablesorter');
    initInpageNavigation();
    getToHash();
    $('.tooltips').tooltip();
    initSearchFiled()
    initScrollTo();
    // specific for this page
    rebuildIndexTable();
});
</script>
{% endblock %}

{% block html_footer %}
    {{ parent() }}
{% endblock %}
