{# GLOBAL PAGE HEADER #}
{% block html_header %}
<!DOCTYPE html>
<html lang="{{ app_cfg.language }}">
<head>
    <meta charset="{{ app_cfg.charset }}">
    <title>{% block title %}{% endblock %} - {{ manifest.title }}</title>
    {% block metas %}{% endblock %}
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assets }}styles.css" rel="stylesheet">
    <link href="{{ vendor_assets }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ vendor_assets }}famfamfam_silk_icons_v013/silk_icons_sprite.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ vendor_assets }}html5shiv/html5shiv.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_attributes %}data-spy="scroll" data-target="#inpage_menu" data-offset="80"{% endblock %}>
<a id="top"></a>

<div id="wrapper">
{% endblock html_header %}

{# GLOBAL PAGE CONTENT #}
{% block body %}{% endblock %}

{# GLOBAL PAGE FOOTER #}
{% block html_footer %}
</div>
{% include DB.getTemplate('footer') %}
<div id="messagebox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="messageboxLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close this modal box">×</button>
        <h3 id="messageboxLabel"></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer"></div>
</div>
<a id="bottom"></a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ vendor_assets }}jquery/jquery.min.js"><\/script>')</script>
<script>$.uiBackCompat = false;</script>
<script src="{{ vendor_assets }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ assets }}scripts.js"></script>
{% block scripts %}
<script>
$(function() {
    addCSSValidatorLink('{{ assets }}styles.css');
    addHTMLValidatorLink();
    initHandler('profiler');
    $('a[href="#0"]').on('click', function(){ return false; });
});
</script>
{% endblock %}
</body>
</html>
{% endblock html_footer %}
