<div class="well-breadcrumb hidden-print clearfix">

    <div class="pull-left">
        <ul class="breadcrumb">
            <li><a href="/">{{ 'Home'|translate }}</a></li>
        {% set routeroute='/' %}
        {% for route in breadcrumbs %}
            {% if loop.index<loop.length %}
                {% set routeroute=routeroute ~ route ~ '/' %}
            <li><a href="{{ routeroute }}">{{ route }}</a></li>
            {% else %}
            <li class="active"><strong>{{ icon(page.type)|raw }}&nbsp;{{ route }}</strong></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="pull-right breadcrumb-right">
{% include DB.getTemplate('tools') %}
    </div>

</div>