{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}

{% extends DB.getTemplate('page_layout') %}

{% block title %}{{ title }}{% endblock %}

{% block metas %}
{% include 'metas.html.twig' %}
{% endblock %}

{% block body_attributes %}data-spy="scroll" data-target="#inpage_menu" data-offset="80"{% endblock %}

{% block body %}
{% include DB.getTemplate('navbar') %}
    <div class="container">
        <div class="row">
{% include DB.getTemplate('ltie7_warning') %}
{% include DB.getTemplate('breadcrumbs') %}
{{ content|raw }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="{{ vendor_assets }}jquery.highlight.js"></script>
<script src="{{ vendor_assets }}jquery.juizScrollTo.js"></script>
<script src="{{ vendor_assets }}jquery.tablesorter/jquery.tablesorter.min.js"></script>
<script>
$(function() {
    initHighlighted('pre.code');
    initTablesorter('table.tablesorter');
    initInpageNavigation();
    getToHash();
    initSearchField()
    initScrollTo();
    initTablesorter('table.indextable', {
        textExtraction: function(n){ 
            var data = $(n).attr('data-type');
            return (data!==undefined ? data : $(n).text());
        }
    });


    $('section.section').scrollspy({ target: '.navbar-section' })


});
</script>
{% endblock %}
