{#
This file is part of the WebDocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/wdbo/webdocbook>.
#}

{% extends WDB.getTemplate('page_layout') %}

{% block title %}{{ title }}{% endblock %}

{% block metas %}
{% include 'metas.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ vendor_assets }}jquery.tablesorter/css/theme.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body_attributes %}data-spy="scroll" data-target="#inpage_menu" data-offset="80"{% endblock %}

{% block body %}
{% include WDB.getTemplate('navbar') %}
    <div class="container">
        <div class="row">
{% include WDB.getTemplate('ltie7_warning') %}
{% include WDB.getTemplate('breadcrumbs') %}
{{ content|raw }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="{{ vendor_assets }}jquery.tablesorter/js/jquery.metadata.js"></script>
<script src="{{ vendor_assets }}jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
<script src="{{ vendor_assets }}jquery.tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script src="{{ vendor_assets }}jquery.highlight/jquery.highlight.js"></script>
<script>
$(function() {
    initHighlighted('pre.code');
    initTablesorter('table.tablesorter');
    initInpageNavigation();
    getToHash();
    initSearchField();
    initScrollTo();
    $.tablesorter.themes.bootstrap.sortNone = 'fa fa-unsorted';
    $.tablesorter.themes.bootstrap.sortAsc  = 'fa fa-sort-up';
    $.tablesorter.themes.bootstrap.sortDesc = 'fa fa-sort-down';
    $.tablesorter.themes.bootstrap.table    = 'table table-striped table-hover';
    initTablesorter('table.indextable', {
        textExtraction: function(n){ 
            var data = $(n).attr('data-type');
            return (data!==undefined ? data : $(n).text());
        },
        theme: "bootstrap",
        widthFixed: true,
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
    });
    $('section.section').scrollspy({ target: '.navbar-section' })
});
</script>
{% endblock %}
