{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}

{% if page.route is empty or page.route == '/' %}
    {% set accueil = true %}
{% else %}
    {% set accueil = false %}
{% endif %}
<div class="page-header">
    <h1>{{ translate('index_of_title', {'path': page.name})|raw }}</h1>
</div>
<div class="row">
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10  col-lg-10">
    <section>
    <div class="table-responsive">
    <table class="indextable table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ 'Type'|translate }}</th>
            <th>{{ 'Name'|translate }}</th>
            <th>{{ 'Last update'|translate }}</th>
            <th>{{ 'Size'|translate }}</th>
            <th>{{ 'Description'|translate }}</th>
        </tr>
    </thead>
    <tbody>
{% for _path in dirscan.dirscan %}
        <tr{% if accueil == false %} class="{{ _path.type }}"{% endif %}>
            <td data-type="{{ _path.type }}"><a href="{{ _path.path|route }}" title="{{ translate('see_content_'~_path.type) }}">
                {{- icon(_path.type, 'glyphicon-black')|raw -}}
            </a></td>
            <td data-type="{{ _path.name }}">
                <a href="{{ _path.path|route }}" title="{{ 'See this content'|translate }}">{{ _path.name }}</a>
    {% for _trad, _route in _path.trans %}
                &nbsp;[<a href="{{ _route|route }}" title="{{ translate('see_this_content_in_ln', {'ln': i18n.languageName(_trad)}) }}">{{ _trad }}</a>]
    {% endfor %}
            </td>
            <td data-type="{{ datify(_path.mtime, 'A') }}"><small>{{ datify(_path.mtime) }}</small></td>
            <td data-type="{{ _path.plainsize }}"><small>{{ _path.size }}</small></td>
            <td data-type="{{ _path.extension }}"><small>
    {%- if _path.type != 'directory' and _path.extension != 'md' -%}
            {{ translate('file_type', {'type': _path.extension}) }}
        {%- if _path.description is not empty -%}
                &nbsp;-&nbsp;
        {%- endif -%}
    {%- endif -%}
                {{ _path.description }}
            </small></td>
        </tr>
{% endfor %}
    </tbody>
    </table>
    </div>

    <ul class="nav nav-pills">
        <li>
{% if page.route is empty or page.route == '/' %}
            <a href="{{ route(page.path, 'rss') }}" title="{{ translate('Subscribe to RSS feed of this DocBook - %url%', {'url': route(page.path, 'rss')}) }}">
                <span class="glyphicon glyphicon-bookmark"></span>&nbsp;<small><em>{{ 'Subscribe to RSS feed of this DocBook'|translate }}</em></small>
            </a>
{% else %}
            <a href="{{ route(page.path, 'rss') }}" title="{{ translate('Subscribe to RSS feed of this chapter - %url%', {'url': route(page.path, 'rss')}) }}">
                <span class="glyphicon glyphicon-bookmark"></span>&nbsp;<small><em>{{ 'Subscribe to RSS feed of this chapter'|translate }}</em></small>
            </a>
{% endif %}
        </li>
{% if dirscan.dir_has_wip %}
    {% set wippath = dirscan.dirpath ~ '/wip' %}
        <li>
            <a href="{{ wippath|route }}" title="{{ 'See the work-in-progress of this chapter'|translate }}">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;<small><em>{{ 'This folder has a "wip" section.'|translate }}</em></small>
            </a>
        </li>
{% endif %}
{% if dirscan.dir_is_clone %}
        <li>
    {% if dirscan.clone_remote is not empty %}
            <a href="{{ dirscan.clone_remote }}" title="{{ 'See distant repository:'|translate }} {{ dirscan.clone_remote }}">
    {% endif %}
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;<small><em>{{ 'This folder is a "GIT" clone of a remote repository.'|translate }}</em></small>
    {% if dirscan.clone_remote is not empty %}
            </a>
    {% endif %}
        </li>
{% endif %}
    </ul>

    </section>
    </div>
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
</div>
<hr />
