{#
This file is part of the WebDocBook package.

Copyleft (ↄ) 2008-2017 Pierre Cassat <me@picas.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/wdbo/webdocbook>.
#}

{% extends WDB.getTemplate('page_layout') %}

{% block title %}{{ 'Error'|translate }}{% endblock %}

{% block metas %}
    <meta name="robots" content="none">
{% include WDB.getTemplate('metas') %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ assets }}styles_error.css" rel="stylesheet">
{% endblock %}

{% block body_attributes %}{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
{% include WDB.getTemplate('navbar') with {'inpage_menu': 'false'} %}
        </div>
    </div>
    <div class="container">
{% include WDB.getTemplate('ltie7_warning') %}
        <div class="error-wrapper">
            <header id="top" role="banner">
            <hgroup>
                <div class="page-header">
                    <h1>{{ 'Error'|translate }} <span>:(</span></h1>
                </div>
            </hgroup>
            </header>
            <div class="jumbotron">
                <p>{{ 'Sorry, but the page you were trying to load causes an error (internal server error).'|translate }}</p>
                <p>{{ 'It looks like this was the result of either:'|translate }}</p>
                <ul>
                    <li><p>{{ 'a mistyped address'|translate }}</p></li>
                    <li><p>{{ 'an out-of-date link'|translate }}</p></li>
                    <li><p>{{ 'a typo in the code'|translate }}</p></li>
                </ul>
            </div>
{% if message is not empty %}
            <p class="small"><a id="error-info_handler" href="#0">guru meditation</a></p>
            <div id="error-info">
                <h3 class="small">{{ 'Message received from the system'|translate }}</h3>
                <blockquote><p class="small text-info">{{ message }}</p></blockquote>
            </div>
{% endif %}
        </div>
        <hr />
    </div> <!-- /container -->
{% endblock %}
