<footer id="footer" class="clearfix">
    <div class="text-muted credits pull-left hidden-print">
        This page is created with <a href="http://jquery.com/" title="See online: http://jquery.com/">jQuery</a>, <a href="http://getbootstrap.com/" title="See online: http://getbootstrap.com/">Bootstrap</a> and <a href="http://code.google.com/p/html5shiv/" title="See online: http://code.google.com/p/html5shiv/">HTML5shiv</a>.
        <br class="hidden-xs" />
        Icons by <a href="http://glyphicons.com/" title="See online: http://glyphicons.com/">Glyphicons</a>.
        <br class="hidden-xs" />
        This page is <a href="" title="Check now online" id="html_validation" data-insert-href="html_validation">HTML5</a> & <a href="" title="Check now online" id="css_validation" data-insert-href="css_validation" data-validation-argument="perso/styles.css">CSS3</a> valid.
    </div>
    <div class="text-muted credits pull-right hidden-print">
        {% include DB.getTemplate('page_credits') %}
        <br />
    {% if profiler is not empty %}
        <a href="#0" id="profiler_handler" title="See page &amp; system infos">{{ icon('profiler')|raw }}&nbsp;Profiler</a>
        &nbsp;|&nbsp;
    {% endif %}
        <a href="{{ 'docbookdoc'|route }}" title="Read the manual">{{ icon('user_manual')|raw }}&nbsp;Manual</a>
        &nbsp;|&nbsp;
        <a href="#0" onclick="messagebox('{{ 'credits'|route }}', 'About DocBook');" title="See the full application credits, check for updates ...">{{ icon('about')|raw }}&nbsp;About</a>
        &nbsp;|&nbsp;
        <a href="{{ route('admin') }}" title="{{ 'Administration'|translate }}">{{ icon('admin')|raw }}&nbsp;Admin</a>
        &nbsp;|&nbsp;
        <a href="{{ route('prefs') }}" title="{{ 'Preferences'|translate }}">{{ icon('preferences')|raw }}&nbsp;Preferences</a>
    </div>
{% if profiler is not empty %}
    <div id="profiler" class="profiler-wrapper">{% include DB.getTemplate('profiler') %}</div>
{% endif %}
    <div class="text-muted credits visible-print">
        {{ 'Original URL of this page on the internet'|translate }} : <strong>{{ profiler.request }}</strong>
        <br />
        {% include DB.getTemplate('page_credits') %}
    </div>
</footer>
