
<a id="language-info" href="#" onclick="return showTranslator();" title="{{ 'Change language'|translate }}">{{ i18n.getLanguageName(i18n.locale) }}&nbsp;<i class="icon-globe icon-white"></i></a>

<div id="language-selector">
    <div class="btn-group" id="language-selector" title="{{ 'Click outside to close the language selector'|translate }}">
        <button class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown">
        {{ 'Language'|translate }}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
    {% for code,name in langs.langs %}
            <li><a tabindex="-1" href="?lang={{ code }}">{{ name }}</a></li>
    {% endfor %}
        </ul>
    </div>
</div>
