
<section class="section">
{% if page_tools|default('true') != 'false' %}
    <footer>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="#0"><abbr title="{{ page.path|securedPath }}"><strong>{{ page.name }}</strong></abbr></a></li>
                <li class="divider-vertical"></li>
                <li><a href="#0" title="{{ 'File infos'|translate }}">
                    <i class="icon-tasks"></i>
                    {{ page.size }}
    {%- if page.lines_nb is not empty -%}
                     &nbsp;-&nbsp;{{ page.lines_nb }} {{ 'lines'|translate }}
    {%- endif -%}
                </a></li>
                <li><a href="#0" title="{{ 'Last update of this content'|translate }}">
                    <i class="icon-time"></i>
                    {{ page.mtime.format('d-m-Y H:i:s') }}</a></li>
    {% if page.trans is not empty %}
                <li><a href="#0" title="{{ 'Translations of this content'|translate }}"><i class="icon-flag"></i></a></li>
        {% for _trad, _route in page.trans %}
                <li><a href="{{ _route|route }}" title="{{ translate('see_this_content_in_ln', {'ln': i18n.languageName(_trad)}) }}"><strong>{{ _trad|upper }}</strong></a></li>
        {% endfor %}
    {% endif %}
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><a href="{{ page.path|route('download') }}" title="{{ 'Download the Markdown version of this content'|translate }}"><i class="icon-download"></i></a></li>
                <li><a href="{{ page.path|route('htmlonly') }}" title="{{ 'View plain &amp; isolated HTML version of this content'|translate }}"><i class="icon-book"></i></a></li>
                <li><a href="{{ page.path|route('plain') }}" title="{{ 'View plain text version of this content'|translate }}"><i class="icon-align-justify"></i></a></li>
            </ul>
        </div>
    </div>
    </footer>
{% endif %}
    <div class="content">
        {{ content|raw }}
    </div>
</section>
