{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% if page_title|default('false') != 'false' %}
<div class="page-header">
    <h1>{{ title|default(page.name) }}</h1>
</div>
{% endif %}

<section class="section">
{% if page_tools|default('true') != 'false' %}
    <footer>
    <div class="navbar navbar-default navbar-inner">
    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mdtemplate-pagetools">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#0" class="navbar-brand">
                <abbr title="{{ 'File name:'|translate }} {{ page.name }} - {{ page.path|securedPath }}">
                    <strong>{{ icon(page.type)|raw }}&nbsp;{{ page.name }}</strong>
                </abbr>
            </a>
        </div>

        <div class="navbar-collapse collapse" id="mdtemplate-pagetools">
            <ul class="nav navbar-nav">
                <li class="divider-vertical hidden-xs hidden-sm"></li>
                <li><a href="#0" title="{{ 'File infos'|translate }}">
                    <span class="glyphicon glyphicon-tasks glyphicon-black"></span>
                    {{ page.size }}
    {%- if page.lines_nb is not empty -%}
                     &nbsp;-&nbsp;{{ page.lines_nb }} {{ 'lines'|translate }}
    {%- endif -%}
                </a></li>
                <li><a href="#0" title="{{ 'Last update of this content'|translate }}">
                    <span class="glyphicon glyphicon-time glyphicon-black"></span>
                    {{ page.mtime.format('d-m-Y H:i:s') }}</a></li>
    {% if page.trans is not empty %}
                <li><a href="#0" title="{{ 'Translations of this content'|translate }}"><span class="glyphicon glyphicon-flag glyphicon-black"></span></a></li>
        {% for _trad, _route in page.trans %}
                <li><a href="{{ _route|route }}" title="{{ translate('see_this_content_in_ln', {'ln': i18n.languageName(_trad)}) }}"><strong>{{ _trad|upper }}</strong></a></li>
        {% endfor %}
    {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider-vertical hidden-xs hidden-sm"></li>
                <li><a href="{{ page.path|route('download') }}" title="{{ 'Download the Markdown version of this content'|translate }}">
                    <span class="visible-xs hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-download glyphicon-black"></span>&nbsp;{{ 'Download this content'|translate }}</span>
                    <span class="hidden-xs visible-sm visible-md visible-lg"><span class="glyphicon glyphicon-download glyphicon-black"></span></span>
                </a></li>
                <li><a href="{{ page.path|route('htmlonly') }}" title="{{ 'View plain &amp; isolated HTML version of this content'|translate }}">
                    <span class="visible-xs hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-book glyphicon-black"></span>&nbsp;{{ 'HTML version of this content'|translate }}</span>
                    <span class="hidden-xs visible-sm visible-md visible-lg"><span class="glyphicon glyphicon-book glyphicon-black"></span></span>
                </a></li>
                <li><a href="{{ page.path|route('plain') }}" title="{{ 'View plain text version of this content'|translate }}">
                    <span class="visible-xs hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-align-justify glyphicon-black"></span>&nbsp;{{ 'Plain text version of this content'|translate }}</span>
                    <span class="hidden-xs visible-sm visible-md visible-lg"><span class="glyphicon glyphicon-align-justify glyphicon-black"></span></span>
                </a></li>
            </ul>
        </div>
    </div>
    </footer>
{% endif %}
    <div class="content">

        {% if toc %}
        <aside id="page_menu">
            <div class="bs-sidebar hidden-print pull-left navbar-section" role="complementary">
                {{ toc|raw }}
            </div>
        </aside>  
        {% endif %}

        {{ content|raw }}
    </div>

</section>

<br class="clearfix" />
<ul class="nav nav-pills">
    <li>
        <a href="{{ route(page.path, 'rss') }}" title="{{ translate('Subscribe to RSS feed of this content - %url%', {'url': route(page.path, 'rss')}) }}">
            <span class="glyphicon glyphicon-bookmark"></span>&nbsp;<small><em>{{ 'Subscribe to RSS feed of this content'|translate }}</em></small>
        </a>
    </li>
</ul>

<div class="panel-group accordion-group footnotes" id="notes_accordion">
{% if page_notes is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noscrollto" title="{{ 'Show/Hide this content'|translate }}" data-toggle="collapse" data-parent="#notes_accordion" href="#page_notes">
                {{ 'Document notes'|translate }}
                </a>
            </h4>
        </div>
        <div id="page_notes" class="panel-collapse collapse in">
            <div class="panel-body">
                {{ page_notes|raw }}
            </div>
        </div>
    </div>
{% endif %}
{% if page_glossary is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noscrollto" title="{{ 'Show/Hide this content'|translate }}" data-toggle="collapse" data-parent="#notes_accordion" href="#page_glossary">
                {{ 'Document glossary'|translate }}
                </a>
            </h4>
        </div>
        <div id="page_glossary" class="panel-collapse collapse">
            <div class="panel-body">
            <ol>
{% for i,c in page_glossary %}
                <li id="{{ c.note-id }}">{{ c.text|raw }}</li>
{% endfor %}
            </ol>
            </div>
        </div>
    </div>
{% endif %}
{% if page_citations is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noscrollto" title="{{ 'Show/Hide this content'|translate }}" data-toggle="collapse" data-parent="#notes_accordion" href="#page_citations">
                {{ 'Document citations'|translate }}
                </a>
            </h4>
        </div>
        <div id="page_citations" class="panel-collapse collapse">
            <div class="panel-body">
            <ol>
{% for i,c in page_citations %}
                <li id="{{ c.note-id }}">{{ c.text|raw }}</li>
{% endfor %}
            </ol>
            </div>
        </div>
    </div>
{% endif %}
{% if page_footnotes is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noscrollto" title="{{ 'Show/Hide this content'|translate }}" data-toggle="collapse" data-parent="#notes_accordion" href="#page_footnotes">
                {{ 'Other footnotes'|translate }}
                </a>
            </h4>
        </div>
        <div id="page_footnotes" class="panel-collapse collapse">
            <div class="panel-body">
            <ol>
{% for i,c in page_footnotes %}
                <li id="{{ c.note-id }}">{{ c.text|raw }}</li>
{% endfor %}
            </ol>
            </div>
        </div>
    </div>
{% endif %}
</div>
