{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}
<div class="navbar navbar-inverse navbar-fixed-top hidden-print" role="navigation" id="header-navigation">

    <div class="navbar-header" id="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-inner">
            <span class="sr-only">{{ 'Toggle navigation'|translate }}</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle navbar-btn" data-toggle="collapse" data-target="#navbar-searchbox">
            <span class="sr-only">{{ 'search'|translate }}</span>            
            <span class="glyphicon glyphicon-search glyphicon-white"></span>
        </button>
        <a class="navbar-brand apicon popover-link" href="#"
            title="{{ manifest.title }} {{ manifest.version }}"
            data-toggle="popover"
            data-placement="bottom"
            data-html="true"
            data-content="{{ translate('sources_update_block', {'url': manifest.homepage, 'version': manifest.version})|rssEncode }}"
        >
            <img src="{{ assets }}/icons/docbook-24-white.png" alt="sources">
        </a>
        <a class="navbar-brand notooltip" href="/" title="{{ 'back_to_homepage'|translate }}">{{ app.title }}</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-inner">

{% if chapters is not empty %}
        <!-- global menu -->
        <div class="navbar-overflow">
            <ul class="nav navbar-nav navbar-left">
            {% for _chapter in chapters %}
                <li><a href="{{ _chapter.route }}" class="notooltip" title="{{ 'See this chapter'|translate }}">{{ _chapter.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
{% endif %}

        <ul class="nav navbar-nav navbar-right" id="navbar-inner-list">
{% if inpage_menu|default('true') != 'false' %}
            <li class="hidden-xs hidden-sm"><a href="#0">{{ 'Inpage navigation'|translate }}</a></li>
            <li class="active"><a href="#top" class="notooltip" title="{{ 'Reach the top ot this page'|translate }}">
                <span class="visible-xs hidden-sm hidden-md hidden-lg">{{ 'Page Top'|translate }}&nbsp;&uarr;</span>
                <span class="hidden-xs visible-sm visible-md visible-lg">&uarr;</span>
            </a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle notooltip" data-toggle="dropdown" title="{{ 'Reach a section in this page'|translate }}">
                <span class="visible-xs hidden-sm hidden-md hidden-lg">{{ 'Page Sections'|translate }}&nbsp;<span class="caret"></span></span>
                <span class="hidden-xs visible-sm visible-md visible-lg"><span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu pull-right" id="inpage_menu"></ul>
            </li>
            <li><a href="#bottom" class="notooltip" title="{{ 'Reach the bottom of this page'|translate }}">
                <span class="visible-xs hidden-sm hidden-md hidden-lg">{{ 'Page Bottom'|translate }}&nbsp;&darr;</span>
                <span class="hidden-xs visible-sm visible-md visible-lg">&darr;</span>
            </a></li>
{% endif %}
            <li><a href="{{ 'docbookdoc'|route }}" class="notooltip" title="{{ 'Read the manual'|translate }}">
                <span class="visible-xs hidden-sm visible-md visible-lg">{{ 'Help'|translate }}&nbsp;{{ icon('user_manual')|raw }}</span>
                <span class="hidden-xs visible-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-question-sign"></span></span>
            </a></li>
{% if langs.langs is not empty and langs.langs|length > 1 %}
            <li>
            {% include DB.getTemplate('lang_selector') %}
            </li>
{% endif %}
        </ul>
    </div>

    <div class="visible-xs">
        <div class="navbar-collapse collapse" id="navbar-searchbox">
{% include DB.getTemplate('searchbox_mobile') %}
        </div>
    </div>

</div>
