{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}

{% extends DB.getTemplate('page_layout') %}

{% block title %}{{ 'Page not found'|translate }}{% endblock %}

{% block metas %}
    <meta name="robots" content="none">
{% include DB.getTemplate('metas') %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ assets }}error_styles.css" rel="stylesheet">
{% endblock %}

{% block body_attributes %}{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
{% include DB.getTemplate('navbar') with {'inpage_menu': 'false'} %}
        </div>
    </div>
    <div class="container">
{% include DB.getTemplate('ltie7_warning') %}
        <div class="error-wrapper">
            <header id="top" role="banner">
            <hgroup>
                <div class="page-header">
                    <h1>{{ 'Page not found'|translate }} <span>:(</span></h1>
                </div>
            </hgroup>
            </header>
            <div class="jumbotron">
                <p>{{ 'Sorry, but the page you were trying to view does not exist.'|translate }}</p>
                <p>{{ 'It looks like this was the result of either:'|translate }}</p>
                <ul>
                    <li>{{ 'a mistyped address'|translate }}</li>
                    <li>{{ 'an out-of-date link'|translate }}</li>
                </ul>
            </div>
{% if message is not empty %}
            <h3>{{ 'Message received from the system'|translate }}</h3>
            <blockquote><p class="text-info">{{ message }}</p></blockquote>
{% endif %}
        </div>
        <hr />
    </div> <!-- /container -->
{% endblock %}
