{#
This file is part of the WebDocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/wdbo/webdocbook>.
#}
<nav class="hidden-print">
    <ul class="pager">
{% if contents.route is not empty and contents.route != '/' %}
    {% if contents.previous is not empty %}
        <li class="previous">
            <a href="{{ contents.previous.path|route }}" title="{{ 'See the previous page in this chapter'|translate }}">
                {{ icon('chevron-left')|raw }}&nbsp;{{ contents.previous.name|readableName }}&nbsp;{{ icon(contents.previous.type)|raw }}
            </a>
        </li>
    {% endif %}
    {% if contents.next is not empty %}
        <li class="next">
            <a href="{{ contents.next.path|route }}" title="{{ 'See the next page in this chapter'|translate }}">
                {{ icon(contents.next.type)|raw }}&nbsp;{{ contents.next.name|readableName }}&nbsp;{{ icon('chevron-right')|raw }}
            </a>
        </li>
    {% endif %}
{% endif %}
    </ul>
</nav>
