{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}
<div class="well">
    <div class="pull-left text-muted">
        <abbr title="{{ page.path|securedPath }}"><strong>{{ page.name }}</strong></abbr>
        &nbsp;|&nbsp;
        {{ 'Last update of this content'|translate }}
        <time datetime="{{ page.update.format('Y-m-d') }}" title="{{ page.update.format('c') }}">
            <strong>{{- page.update.format('M j, Y') -}}</strong>
        </time>
        at <strong>{{- page.update.format('H:i') -}}</strong>
    </div>
    <div class="pull-right hidden-print">
{% include DB.getTemplate('tools') %}
    </div>
</div>
