<form class="form-search" method="get" action="{{ page.path|route('search') }}">
    {% if search_str is not empty %}<span class="glyphicon glyphicon-remove-circle" id="delete-search" title="{{ 'Clear the search field'|translate }}" onclick="updateClass(this, 'icon-indicator', 'glyphicon glyphicon-remove-circle')"></span>{% endif %}
    <div class="input-group">
        <input type="text" class="form-control search-query searchField {% if search_str is not empty %}searchFieldDeletable{% endif %}" data-toggle="tooltip" name="s" title="{{ 'You can build your search string with regular expressions'|translate }}" placeholder="{{ 'search'|translate }}" value="{{ search_str|default('') }}" tabindex="1" />
        <span class="input-group-btn">
            <button id="form-search-submit" type="submit" class="btn btn-default" data-toggle="tooltip" title="{% if search_str is not empty %}
                {{- 'Update current search'|translate -}}
            {% else %}
                {{- 'Start the search'|translate -}}
            {% endif %}"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>
