<div class="pager-wrapper">
    <ul class="pager">
{% if page.route is not empty and page.route != '/' %}
    {% if page.previous is not empty %}
        <li>
            <a href="{{ page.previous.path|route }}" title="{{ 'See the previous page in this chapter'|translate }}">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;{{ page.previous.name|readableName }}&nbsp;{{ icon(page.previous.type, 'glyphicon-grey')|raw }}
            </a>
        </li>
    {% endif %}
    {% if page.next is not empty %}
        <li>
            <a href="{{ page.next.path|route }}" title="{{ 'See the next page in this chapter'|translate }}">
                {{ icon(page.next.type, 'glyphicon-grey')|raw }}&nbsp;{{ page.next.name|readableName }}&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    {% endif %}
{% endif %}
        <li class="hidden-xs">
            {% include DB.getTemplate('searchbox') %}
        </li>
    </ul>
</div>
