{#
This file is part of the WebDocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/wdbo/webdocbook>.
#}

{% include WDB.getTemplate('internal_pages_header') %}

<div class="row">
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10  col-lg-10">
        <section>
            <div class="content">
                <p>
                    {{ 'An every day manual on how to use <strong>WebDocBook</strong> and <strong>Markdown</strong>.'|translate|raw }}
                </p>
            </div>
        </section>
    </div>
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
</div>
<hr />

<div role="tabpanel" id="user_manual_page">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" id="user_manual_handler">
            <a href="#user_manual" aria-controls="user_manual" role="tab" data-toggle="tab" class="noscrollto">
                <span class="hidden-xs">{{ 'WebDocBook manual'|translate }}</span>
                <span class="hidden-sm">WebDocBook</span>
            </a>
        </li>
        <li role="presentation" id="md_manual_handler">
            <a href="#md_manual" aria-controls="md_manual" role="tab" data-toggle="tab" class="noscrollto">
                <span class="hidden-xs">{{ 'Markdown syntax manual'|translate }}</span>
                <span class="hidden-sm">Markdown</span>
            </a>
        </li>
        <li role="presentation" id="about_handler">
            <a href="#about" aria-controls="about" role="tab" data-toggle="tab" class="noscrollto">
                <span class="hidden-xs">{{ 'About WDB'|translate }}</span>
                <span class="hidden-sm">About</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="user_manual">
            <div class="content">
                {% if user_manual_menu is not empty %}
                    <aside id="user_manual_menu">
                        <div class="bs-sidebar hidden-print pull-left navbar-section" role="complementary">
                            {{ user_manual_menu|raw }}
                        </div>
                    </aside>
                {% endif %}
                {{ user_manual_content|raw }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="md_manual">
            <div class="content">
                {% if md_manual_menu is not empty %}
                    <aside id="md_manual_menu">
                        <div class="bs-sidebar hidden-print pull-left navbar-section" role="complementary">
                            {{ md_manual_menu|raw }}
                        </div>
                    </aside>
                {% endif %}
                {{ md_manual_content|raw }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="about">
            <div class="content">
                {{ about_content|raw }}
            </div>
        </div>
    </div>

</div>

<hr />
