{#
This file is part of the DocBook package.

Copyleft (ↄ) 2008-2015 Pierre Cassat <me@e-piwi.fr> and contributors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

The source code of this package is available online at 
<http://github.com/atelierspierrot/docbook>.
#}

<div class="page-header">
    <h1>
        {{ title|default(manifest.title) }}
        <small>{{ manifest.name }} {{ manifest.version }}{% if profiler.git_clone %} - clone{% endif %}</small>
    </h1>
</div>

<div class="row">
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10  col-lg-10">
    <section>
    <div class="content">

        {% if toc %}
        <aside id="page_menu">
            <div class="bs-sidebar hidden-print pull-left navbar-section" role="complementary">
                {{ toc|raw }}
            </div>
        </aside>  
        {% endif %}

        {{ content|raw }}

        <p>User configuration is stored in file <var>{{ user_config_file }}</var> (INI format).</p>
    </div>
    </section>
    </div>
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
</div>
<hr />

<div class="row">
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10  col-lg-10">
    <section>
        <form action="{{ route('saveadmin') }}" method="post" class="form-horizontal" role="form">
            <fieldset>
                <legend>{{ 'Global options'|translate }}</legend>
                <div class="form-group">
                    <label for="app_name" class="col-sm-2 control-label">{{ 'Title'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="app_name" name="app_name"
                               placeholder="{{ 'Application title'|translate }}"
                               value="{% if user_config.app_name is not empty %}{{ user_config.app_name }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="docbook_languages_default" class="col-sm-2 control-label">{{ 'Default language'|translate }}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="languages_default" name="languages_default">

                            {% if config.languages.default is not empty and config.languages.default != 'auto' %}
                                {% set def = config.languages.default %}
                            {% else %}
                                {% set def = config.languages.fallback_language %}
                            {% endif %}

                            {% for ln,name in langs.langs %}
                            <option value="{{ ln }}"{% if ln == def %} selected="selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ 'Pages options'|translate }}</legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="show_rss" name="show_rss" value="1"{% if user_config.show_rss is not empty and user_config.show_rss == '1' %} checked{% endif %}>
                                {{ 'Show RSS feeds links'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="show_vcs" name="show_vcs" value="1"{% if user_config.show_vcs is not empty and user_config.show_vcs == '1' %} checked{% endif %}>
                                {{ 'Show VCS links'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="show_wip" name="show_wip" value="1"{% if user_config.show_wip is not empty and user_config.show_wip == '1' %} checked{% endif %}>
                                {{ 'Show "wip" section info & link'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="show_admin" name="show_admin" value="1"{% if user_config.show_admin is not empty and user_config.show_admin == '1' %} checked{% endif %}>
                                {{ 'Show admin button'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ 'Architecture options'|translate }}</legend>
                <div class="form-group">
                    <label for="assets_directory" class="col-sm-2 control-label">{{ 'Assets directory'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="assets_directory" name="assets_directory"
                               placeholder="{{ 'Name of assets sub-directory'|translate }}"
                               value="{% if user_config.assets_directory is not empty %}{{ user_config.assets_directory }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wip_directory" class="col-sm-2 control-label">{{ 'WIP directory'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="wip_directory" name="wip_directory"
                               placeholder="{{ 'Name of work-in-progress directory'|translate }}"
                               value="{% if user_config.wip_directory is not empty %}{{ user_config.wip_directory }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="readme_filename" class="col-sm-2 control-label">{{ 'Read-me filename'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="readme_filename" name="readme_filename"
                               placeholder="{{ 'Name of directory read-me file'|translate }}"
                               value="{% if user_config.readme_filename is not empty %}{{ user_config.readme_filename }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="index_filename" class="col-sm-2 control-label">{{ 'Index filename'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="index_filename" name="index_filename"
                               placeholder="{{ 'Name of directory index file'|translate }}"
                               value="{% if user_config.index_filename is not empty %}{{ user_config.index_filename }}{% endif %}">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ 'Icons paths'|translate }}</legend>
                <div class="form-group">
                    <label for="app_icon" class="col-sm-2 control-label">{{ 'App icon'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="app_icon" name="app_icon"
                               placeholder="{{ 'Path of the application icon'|translate }}"
                               value="{% if user_config.app_icon is not empty %}{{ user_config.app_icon }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_favicon" class="col-sm-2 control-label">{{ 'App favicon'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="app_favicon" name="app_favicon"
                               placeholder="{{ 'Path of the application favicon'|translate }}"
                               value="{% if user_config.app_favicon is not empty %}{{ user_config.app_favicon }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_icon_precomposed" class="col-sm-2 control-label">{{ 'App precomposed icon'|translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="app_icon_precomposed" name="app_icon_precomposed"
                               placeholder="{{ 'Path of the application precomposed icon'|translate }}"
                               value="{% if user_config.app_icon_precomposed is not empty %}{{ user_config.app_icon_precomposed }}{% endif %}">
                    </div>
                </div>
            </fieldset>
{# this is not yet in use
            <fieldset>
                <legend>{{ 'Pages optimization'|translate }}</legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="minify_assets" name="minify_assets" value="1"{% if user_config.minify_assets is not empty and user_config.minify_assets == '1' %} checked{% endif %}>
                                {{ 'Minify assets'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="merge_assets" name="merge_assets" value="1"{% if user_config.merge_assets is not empty and user_config.merge_assets == '1' %} checked{% endif %}>
                                {{ 'Merge assets'|translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
#}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="{{ 'Submit'|translate }}">
                    <input type="reset" class="btn btn-default" value="{{ 'Cancel'|translate }}">
                </div>
            </div>
        </form>

<!--
{% for i,item in config %}
    {{i}} : {{dump(item)}}
{% endfor %}
-->

    </section>
    </div>
    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
</div>
<hr />
