<div class="hero-unit">

    <h1 class="text-center">{{ manifest.title }}</h1>

    <p class="text-center">
        <br />{{ manifest.description }}
        <br />Protected under <a href="http://www.gnu.org/licenses/gpl-3.0.html" title="Read this license text online">General Public Licence version 3.0</a>, some rights reserved.
    </p>
</div>

<h4>Informations</h4>

<dl class="dl-horizontal">

    <dt>version</dt>
    <dd><a href="{{ manifest.homepage }}/tags" title="Check for updates">{{ manifest.version }}</a></dd>

    <dt>package</dt>
    <dd><a href="{{ manifest.homepage }}" title="See package sources">{{ manifest.name }}</a></dd>

    <dt>author</dt>
    <dd>
{% for author in manifest.authors %}
    {% set author_url='' %}
    {% set url_title='View its webpage online' %}
    {% if author.url is not empty %}
        {% set author_url=author.url %}
    {% elseif author.homepage is not empty %}
        {% set author_url=author.homepage %}
    {% elseif author.email is not empty %}
        {% set author_url='mailto:' ~ author.email %}
        {% set url_title='Contact this author' %}
    {% endif %}
    {%- if author_url is not empty -%}
        <a href="{{ author_url }}" title="{{ url_title }}">
    {%- endif -%}
        {{- author.name -}}
    {%- if author_url is not empty -%}
        </a>
    {%- endif -%}
    {% if loop.length > 1 %} (<em>{{- author.role -}}</em>){%- endif -%}
    {%- if loop.index < (loop.length-1) %}, {% endif %}
{% endfor %}
    </dd>

    <dt>sources & updates</dt>
    <dd><a href="{{ manifest.homepage }}" title="See online">{{ manifest.homepage }}</a></dd>

    <dt>bug tracking</dt>
    <dd><a href="{{ manifest.homepage }}/issues" title="See online">{{ manifest.homepage }}/issues</a></dd>

    <dt>user doc</dt>
    <dd><a href="{{ 'docbookdoc'|route }}" title="See online">{{ 'docbookdoc'|route }}</a></dd>

</dl>

<h4>Credits</h4>

<p>DocBook is made with the following external tools, libraries and packages:</p>

<ul>
    <li><strong><a href="http://jquery.com/" title="See online: http://jquery.com/">jQuery</a></strong>, an open source javascript library licensed under the <a href="http://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt" title="See online: http://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT license</a>,</li>
    <li><strong><a href="http://twitter.github.com/bootstrap/index.html" title="See online: http://twitter.github.com/bootstrap/index.html">Bootstrap</a></strong>, a <a href="http://en.wikipedia.org/wiki/Twitter_Bootstrap" title="See online: http://en.wikipedia.org/wiki/Twitter_Bootstrap">Twitter theme and tools for jQuery</a> licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" title="See online: http://www.apache.org/licenses/LICENSE-2.0">Apache license v2.0</a>,</li>
    <li><strong><a href="http://code.google.com/p/html5shiv/" title="See online: http://code.google.com/p/html5shiv/">HTML5shiv</a></strong>, allowing HTML5 understanding for old browsers, licensed under <a href="http://www.opensource.org/licenses/mit-license.php" title="See online: http://www.opensource.org/licenses/mit-license.php">MIT license</a>,</li>
    <li>Bootstrap's icons by <strong><a href="http://glyphicons.com/" title="See online: http://glyphicons.com/">Glyphicons</a></strong>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="See online: http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> license.</li>
</ul>

<h4>Bug reports</h4>

<p>To transmit a bug about a DocBook installation, please first click on the "Profiler" link at the bottom of the error page and write its informations in your bug ticket. Bug tickets can be created at <a href="{{ manifest.homepage }}/issues" title="Create a bug ticket">{{ manifest.homepage }}/issues</a>.</p>

<hr />

<p><em>This package is an open source software distributed under a GNU/GPL license and made by <strong>Les Ateliers Pierrot</strong>, Paris, France.</em></p>

<p><em>Ce programme est un logiciel libre distribué sous licence GNU/GPL et fabriqué par <strong>Les Ateliers Pierrot</strong>, Paris.</em></p>

<br />
