
<div class="profiler hidden-printer">
    <p class="text-success">
        <strong>PROFILER for request : <a href="{{ profiler.request }}" title="Test this request">{{ profiler.request }}</a></strong>
    </p>

    <dl class="dl-horizontal">

        <dt>app</dt>
        <dd><strong>{{ manifest.name }} {{ manifest.version }}{% if profiler.git_clone %} - clone{% endif %}</strong></dd>

        <dt>date</dt>
        <dd>{{ profiler.date.format('D') }} {{ profiler.date.format('d M Y H:i:s') }} {{ profiler.timezone }} [<abbr title="{{ profiler.date.format('c') }}">ISO date</abbr>]</dd>

        <dt>PHP vers.</dt>
        <dd>{{ profiler.php_version }} ({{ profiler.php_sapi_name }})</dd>

        <dt>Webserver system</dt>
        <dd>{{ profiler.apache_version }}</dd>

        <dt>Server OS</dt>
        <dd>{{ profiler.php_uname }}</dd>

        <dt>Browser / Device</dt>
        <dd>{{ profiler.user_agent }}</dd>

    </dl>

</div>
