<h1>{{ translate('search_info', {'search_str': search_str, 'path': path})|raw }}</h1>

<p>{{ pluralize(['Your search sent no result ...','one_result_found','results_found'], content|length) }}</p>
{% if content is not empty %}
<div class="search-results">
    {% for file, entries in content %}
    <dl class="dl-horizontal">
        <dt>
            <a href="{{ file|route }}" title="{{ 'See this page'|translate }}">{{ file|relativePath }}</a>
        </dt>
        <dd><pre>
{%- for entry in entries -%}
    {%- if entry.line is not empty -%}
<span{% if entry.highlighted is not empty %} class="alert-success"{% endif %}><small class="line-number"><strong>{{ entry.line }}</strong></small>{{- entry.content -}}</span><br />
    {%- else -%}
<br />
    {%- endif -%}
{%- endfor -%}
        </pre></dd>
    </dl>
    {% endfor %}
</div>
{% endif %}
